a {
    padding: 8px;
    color: black;
    background-color: lime;
    text-decoration-line: none;
    transition: all;
    transition-duration: 500ms;
}

a:hover {
    color: black;
    background-color: green;
}